@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Public+Sans:wght@400;500;600;700&display=swap');

body{
    font-size: 62.5%;
    box-sizing: border-box;
    background: #2F2D3F;
    font-family: sans-serif;
    display: flex;
    /* border: solid 1px red; */
}


.chat-flex-container{
    /* border: solid 2px blue; */

    margin-left: 10.4rem;
    margin-top: 6.4rem;

    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    flex-basis: 46rem;
}

.chat-header{
    padding-right: 7.2rem;
    /* border: solid 2px green; */

    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    
    background-color: #FF6E6E;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.chat-header .circular-img{
    /* border: solid 1px red; */
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

.chat-header .circular-img .images{
    border: solid 2px white;
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 3rem;
}

.chat-header .circular-img .image-1{
    position: relative;
    left : 1rem;
}

.chat-header .circular-img .image-3{
    position: relative;
    left : -1rem;
}

.chat-header .members{
    /* border: solid 1px red; */
    color:white;
}

.chat-header .members .names{
    /* border: solid 1px red ; */
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 0.8rem;
}
.chat-header .members .group-status{
    font-size: 1.2rem;
}


.chat-box .part-1{
    background: #282639;
    /* border: solid 1px red; */
    display: flex;
    gap: 2.2rem;
    padding: 2.5rem;
}
.chat-box .part-1 .chat-image{
    border: solid 2px white;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 3rem;
}
.chat-box .part-1 .speech-bubble{
    position: relative;
    position: relative;
    background: #3A384C;
    padding: 1.8rem; 
    flex-basis: 33rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.833);
    border-radius: 1rem;
}

.tri-right.border.left-in:before {

	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -1rem;
	right: auto;
    top: 1rem;
	bottom: auto;
	border-color: #666 #666 transparent transparent;
}


.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -1.4rem;
	right: auto;
    top: 1.5rem;
	bottom: auto;
	border: 12px solid;
	border-color: #3A384C #3A384C  #282639  #282639;
}



.chat-box .part-2{
    background: #282639 ;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0rem 1rem 2.6rem 1rem;
    
}
.chat-box .part-2 .msg-bar{
    display: flex;
    justify-content: space-between;
    background: #3A384C ;
    border: solid 1px #FF6E6E;
    font-size: 1.1rem;
    border-radius: 1.7rem;
    color: white;
}
.chat-box .part-2 .msg-bar .initial-value{
    
    padding: 1.25rem 1rem 1rem 1rem;
    color: rgba(255, 255, 255, 0.359);
}
.chat-box .part-2 .msg-bar .send-icon{
    border-left: solid 1px #FF6E6E;

    background: #282639;
    flex-basis: 2.3rem;

    
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 1.1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


.chat-flex-container .cross-container{
    /* border: solid 1px red; */
    display: flex;
    justify-content: flex-end;
    padding-top: 1.2rem;
}
.chat-flex-container .cross-container .cross-icon{
    font-size: 2rem;
    color: white;
    background: #FF6E6E;
    padding: 2rem 2.3rem;
    border-radius: 5rem;
    margin-bottom: 1rem;

}

@media screen and (max-width: 900px) {
    
    body{
        font-size: 62.5%;
        box-sizing: border-box;
        background: #2F2D3F;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        /* border: solid 1px red; */
    }
    .chat-flex-container{
        /* border: solid 2px blue; */

        margin-left: 5rem;
        margin-top: 3rem;
        margin-right: 3rem;

        display: flex;
        flex-direction: column;
        border-radius: 2rem;
        flex-basis: 10rem;
    }

    .chat-header{
        padding-right: 5rem;
        /* border: solid 2px green; */
    
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        
        background-color: #FF6E6E;
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    
    
    .chat-header .circular-img{
        /* border: solid 1px red; */
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
    } 


    .chat-header .circular-img .images{
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 2px white;
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
    }

    .chat-header .circular-img .image-1{
        position: relative;
        left : 0rem; 
        top: 0.5rem;   
    }
    
    .chat-header .circular-img .image-3{
        position: relative; 
        left: 0rem;
        top : -0.5rem;
    }

    .chat-header .members .names{
        /* border: solid 1px red ; */
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 0.8rem;
    }

    .chat-header .members .group-status{
        font-size: 1rem;
    }


    .chat-box .part-1{
        background: #282639;
        /* border: solid 1px red; */
        display: flex;
        gap: 1rem;
        padding: 2.5rem;
    }
    .chat-box .part-1 .chat-image{
        border: solid 2px white;
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
    }

    .chat-box .part-1 .speech-bubble{
        background: #3A384C;
        padding: 1.8rem; 
        flex-basis: 33rem;
        font-size: 1rem;
        line-height: 2rem;
        color: rgba(255, 255, 255, 0.833);
        border-radius: 1rem;
    }

    .chat-box .part-2 .msg-bar{
        display: flex;
        justify-content: space-between;
        background: #3A384C ;
        border: solid 1px #FF6E6E;
        font-size: 1rem;
        border-radius: 1.7rem;
        color: white;
    }

    .chat-box .part-2 .msg-bar .send-icon{
        border: solid 1px #FF6E6E; 
        
        background: #282639;
        flex-basis: 2rem;
    
        
        font-size: 1rem;
        display: flex;
        justify-content: center;
        padding: 1.1rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .chat-flex-container .cross-container .cross-icon{
        font-size: 1.5rem;
        color: white;
        background: #FF6E6E;
        padding: 1rem 1.3rem;
        margin-bottom: 1rem;
        border-radius: 5rem;
    }
    
}